{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {# Full screen iOS #}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Ny adgangskode</title>
    <link rel="stylesheet" href="{% static 'LibCentral/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'LibCentral/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'LibCentral/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'LibCentral/assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'LibCentral/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'LibCentral/assets/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'LibCentral/assets/css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'LibCentral/assets/css/styles.css' %}">
</head>

<body>
    <div class="login-clean min-vh-100 min-vw-100 shadow-lg">
        <form method="post" class="shadow-lg"> {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <img src="{% static 'LibCentral/assets/img/jobteam.png' %}">
            </div>
            <div class="form-group">
                <input id="password" class="form-control" type="password" name="password" placeholder="Adganskode">
            </div>
            <div class="form-group">
                <input id="confirmPassword" class="form-control" type="password" name="confirmPassword" placeholder="Bekræft adgangskode">
                <p id="errorMessage" class="ml-2 mt-2">{{ error_message }}</p>
            </div>
            <div class="form-group mb-0">
                <button class="btn btn-primary btn-block" type="submit">Skift adgangskodens</button>
            </div>
        </form>
    </div>
    <script src="{% static 'LibCentral/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'LibCentral/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
