{% extends 'Authentication/reset_template.html' %}
{% load static %}
{% block title %}Ny adgangskode{% endblock %}

{% block content %}
    <ul class="pl-4">
        <li>Din adgangskode må ikke minde om dine andre personlige oplysninger</li>
        <li>Din adgangskode skal indeholde mindst 8 tegn.</li>
        <li>Din adgangskode må ikke være en ofte anvendt adgangskode.</li>
        <li>Din adgangskode må ikke være udelukkende numerisk.</li>
    </ul>
    <div class="form-group">
        <input id="password" class="form-control" type="password" name="new_password1" placeholder="Ny adganskode">
    </div>
    <div class="form-group">
        <input id="confirmPassword" class="form-control" type="password" name="new_password2" placeholder="Bekræft adgangskode">
        <p id="errorMessage" class="ml-2 mt-2">{{ form.error }}</p>
    </div>
{% endblock %}
{% block submit %}
    <div class="form-group mb-0">
        <input class="btn btn-primary btn-block" type="submit" value="Skift adgangskode">
    </div>
{% endblock %}
{% block below_button %}
    <a class="text-info" href="{% url 'Login' %}">Gå tilbage til login side</a>
{% endblock %}
