{% extends 'Authentication/reset_template.html' %}
{% load static %}
{% block title %}Email sendt{% endblock %}

{% block content %}
    <h4>Vi har sendt dig en email</h4>
    <h6>Hvis den angivet email er tilknyttet til en eksisterende konto, vil du kortvarigt modtage en email.
        <br>
        <br>
        <strong>Husk at tjekke din spam folder.</strong>
    </h6>
    <h6 class="mt-3">Hvis du ingen mail har fået, så kontakt dgr@jobteam.dk</h6>
{% endblock %}
{% block submit %}{% endblock %}
{% block below_button %}
    <a class="text-info" href="{% url 'Login' %}">Gå tilbage til login side</a>
{% endblock %}