{% extends 'Authentication/reset_template.html' %}
{% load static %}
{% block title %}Glemt adgangskode{% endblock %}

{% block content %}
    <div class="form-group">
        <label>Indtast emailen tilknyttet til din konto:</label>
        <input class="form-control" type="text" name="email" required>
        <p id="errorMessage" class="ml-2 mt-2">{{ error }}</p>
    </div>
{% endblock %}
{% block submit %}
    <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" value="Forsæt">
    </div>
{% endblock %}
{% block below_button %}
    <a class="text-info" href="{% url 'Login' %}">Gå tilbage til login side</a>
{% endblock %}
