{% extends 'DoorSystem/admin-template.html' %}
{% load static %}

{# Adds the active class to the correct navigation sidebar #}
{% block nav_dashboard %}active{% endblock %}

{% block content %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4 mx-auto">
            <div class="card shadow border-left-primary py-2 mx-auto" style="width: 250px;">
                <div class="card-body" style="padding-left: 1.25rem !important; padding-right: 1.25rem !important; padding-bottom: 0.25rem; padding-top: 0.25rem;">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1" style="font-size: 14px;">
                                <span>Åben hoveddøren<br>i 5 sekunder<br></span>
                            </div>
                            <div class="text-dark font-weight-bold h5 mb-0 text-center mt-4">
                                <button class="btn btn-primary shadow-lg" type="button" style="width: 130px;" onclick="sendToArduino(&quot;open&quot;)">Lås op</button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <img id="lock" src="{% static 'DoorSystem/assets/gifs/lock-2.gif' %}" width="50px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}