{% extends 'DoorSystem/admin-template.html' %}
{% block nav_users %}active{% endblock %}

{% block content %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Brugere</h3>
        <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" onclick="AddUser()">
            <i class="fas fa-bookmark fa-sm text-white-50"></i>&nbsp;Opret ny bruger
        </a>
    </div>

    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Bruger info:</p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Brugernavn</th>
                            <th class="text-center" style="width: 150px !important;">Aktiv</th>
                            <th class="text-center" style="width: 250px !important;">Handlinger</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td class="align-middle">{{ user.get_full_name }}</td>
                            <td class="align-middle">{{ user.username }}</td>
                            {% if user.is_active %}
                                <td class="text-center align-middle"><i class="fa fa-check text-success"></i></td>
                            {% else %}
                                <td class="text-center align-middle"><i class="fa fa-remove text-danger"></i></td>
                            {% endif %}
                            <td class="text-center align-middle" style="vertical-align:middle">
                                <button class="btn btn-info" type="button" style="height: 50px; width: 50px;"
                                        onclick="EditUser({{ user.id }})">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-danger" type="button" style="height: 50px; width: 50px;">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Navn</strong></td>
                            <td><strong>Brugernavn</strong></td>
                            <td class="text-center"><strong>Aktiv</strong></td>
                            <td class="text-center"><strong>Handlinger</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}